<div ng-keypress="$event.keyCode === 32 && togglePlayPause()" id="content" tabindex="0" class="no-select">
    <div id="curtain" ng-click="start()"></div>
    <div>
        <div class="instrument-container {{instrument.name}}" ng-repeat="instrument in instruments"
             ng-click="toggleMuted(instrument)"
             ng-class="{'muted': instrument.audioChannel.muted || audioState === 'loading' || audioState === 'waitingUser'}">
            <div class="instrument" ng-class="{'audible': instrument.audioChannel.audible}"></div>
            <div class="spots">
                <img src="../../img/spot.png" class="spot">
                <img src="../../img/spot.png" class="spot">
            </div>
        </div>
    </div>
    <div>
        <div id="controls">
            <div class="play-button" ng-show="audioState === 'paused'" ng-click="play()"></div>
            <div class="pause-button" ng-show="audioState === 'playing'" ng-click="pause()"></div>
            <div class="button-placeholder" ng-show="audioState === 'loading'"></div>
            <div class="play-button" id="fake-play-button" ng-show="audioState === 'waitingUser'"></div>
            <timeline class="timeline" ng-hide="audioState === 'loading' || audioState === 'waitingUser'">
                <div id="hover-time"></div>
                <div class="progress" style="width: {{instruments[0].audioChannel.currentTime / instruments[0].audioChannel.buffer.duration * 100}}%;">
                    <div class="marker"></div>
                </div>
                <div style="height: 20px;"></div>
            </timeline>
            <timeline class="timeline loading" ng-show="audioState === 'loading' || audioState === 'waitingUser'">
                <div class="progress" style="width: {{percentLoaded}}%;"></div>
            </timeline>
            <div class="current-time">{{seekCurrentTime || currentTimeFormatted}}</div>
        </div>
    </div>
</div>