.vocal1 {
  width: 200px;
  height: 300px;
  background: url('../img/mobile/vocal1.png');
  animation: vocal1 2s steps(76) infinite;
}

@keyframes vocal1 {
  100% { background-position-x: -15200px; }
}

.vocal2 {
  width: 127px;
  height: 300px;
  background: url('../img/mobile/vocal2.png');
  animation: vocal2 2s steps(76) infinite;
}

@keyframes vocal2 {
  100% { background-position-x: -9652px; }
}

.vocal3 {
  width: 246px;
  height: 300px;
  background: url('../img/mobile/vocal3.png');
  animation: vocal3 2s steps(76) infinite;
}

@keyframes vocal3 {
  100% { background-position-x: -18696px; }
}

.acoustic_guitar {
  width: 300px;
  height: 162px;
  background: url('../img/mobile/acoustic_guitar.png');
  animation: acoustic_guitar 2s steps(76) infinite;
}

@keyframes acoustic_guitar {
  100% { background-position-x: -22800px; }
}

.bass {
  width: 227px;
  height: 300px;
  background: url('../img/mobile/bass.png');
  animation: bass 2s steps(77) infinite;
}

@keyframes bass {
  100% { background-position-x: -17479px; }
}

.drums {
  width: 300px;
  height: 298px;
  background: url('../img/mobile/drums.png');
  animation: drums 2s steps(76) infinite;
}

@keyframes drums {
  100% { background-position-x: -22800px; }
}

.electric_guitar {
  width: 185px;
  height: 300px;
  background: url('../img/mobile/electric_guitar.png');
  animation: electric_guitar 2s steps(74) infinite;
}

@keyframes electric_guitar {
  100% { background-position-x: -13690px; }
}

.strings {
  width: 612px;
  height: 300px;
  background: url('../img/mobile/strings.png');
  animation: strings 2s steps(74) infinite;
}

@keyframes strings {
  100% { background-position-x: -45288px; }
}

.melodica {
  width: 300px;
  height: 94px;
  background: url('../img/mobile/melodica.png');
  animation: melodica 3s steps(248) infinite;
}

@keyframes melodica {
  100% { background-position-x: -74400px; }
}