.vocal1 {
  width: 200px;
  height: 300px;
  background: url('../img/vocal1.png');
  animation: vocal1 2s steps(152) infinite;
  left: 950px;
  top: 400px;
}

@keyframes vocal1 {
  100% { background-position-y: -45600px; }
}

.vocal2 {
  width: 127px;
  height: 300px;
  background: url('../img/vocal2.png');
  animation: vocal2 2s steps(152) infinite;
  left: 720px;
  top: 400px;
}

@keyframes vocal2 {
  100% { background-position-y: -45600px; }
}

.vocal3 {
  width: 246px;
  height: 300px;
  background: url('../img/vocal3.png');
  animation: vocal3 2s steps(152) infinite;
  left: 480px;
  top: 400px;
}

@keyframes vocal3 {
  100% { background-position-y: -45600px; }
}

.acoustic_guitar {
  width: 300px;
  height: 162px;
  background: url('../img/acoustic_guitar.png');
  animation: acoustic_guitar 2s steps(152) infinite;
  left: 1220px;
  top: 480px;
}

@keyframes acoustic_guitar {
  100% { background-position-y: -24624px; }
}

.bass {
  width: 227px;
  height: 300px;
  background: url('../img/bass.png');
  animation: bass 2s steps(154) infinite;
  left: 1330px;
  top: 70px;
}

@keyframes bass {
  100% { background-position-y: -46200px; }
}

.drums {
  width: 300px;
  height: 298px;
  background: url('../img/drums.png');
  animation: drums 2s steps(151) infinite;
  left: 950px;
  top: 70px;
}

@keyframes drums {
  100% { background-position-y: -44998px; }
}

.electric_guitar {
  width: 185px;
  height: 300px;
  background: url('../img/electric_guitar.png');
  animation: electric_guitar 2s steps(148) infinite;
  left: 1570px;
  top: 350px;
}

@keyframes electric_guitar {
  100% { background-position-y: -44400px; }
}

.strings {
  width: 612px;
  height: 300px;
  background: url('../img/strings.png');
  animation: strings 2s steps(148) infinite;
  left: 230px;
  top: 70px;
}

@keyframes strings {
  100% { background-position-y: -44400px; }
}

.melodica {
  width: 300px;
  height: 94px;
  background: url('../img/melodica.png');
  animation: melodica 3s steps(495) infinite;
  left: 150px;
  top: 530px;
}

@keyframes melodica {
  100% { background-position-y: -46530px; }
}