@import 'vendor/bootstrap.min';
@import 'vendor/fonts1';
@import 'vendor/fonts2';
@import 'vendor/animate';
@import 'instruments';

body {
  background: url('../img/background.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.instrument {
  display: inline-block;
  animation-play-state: paused;
  cursor: pointer;

  &.playing {
    animation-play-state: running;
  }

  position: absolute;
}