@import 'vendor/bootstrap.min';
@import 'vendor/fonts1';
@import 'vendor/fonts2';
@import 'vendor/animate';
@import 'instruments_mobile';

@font-face {
  font-family: 'sniglet';
  font-style: normal;
  src: url('./fonts/Sniglet-Regular.ttf') format('truetype');
}

body {
  font-family: sniglet;
  color: white;
  background: black;
}

#content {
  background: url('../img/background.jpg');
  background-size: 100% 100%;
  position: relative;
  outline: none;
  overflow-y: hidden;
}

.instrument-container {
  transform-origin: top left;
  cursor: pointer;
  position: absolute;
  &.muted {
    .instrument {
      filter: contrast(40%) brightness(0.15) hue-rotate(-20deg);
      opacity: 0.7;
    }

    .spot {
      display: none !important;
    }
  }

  .instrument {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    animation-play-state: paused;
    z-index: 1;

    &.audible {
      animation-play-state: running;
    }
  }

  .spot {
    position: absolute;
    bottom: -80px;
    display: none;
  }

  .spot:nth-child(1) {
    width: 150%;
    left: -30%;
    display: inline-block;
  }
}

#controls {
  transform-origin: top left;
  position: absolute;
  width: 1920px;
  top: 875px;
  left: 0;
  text-align: center;

  .play-button {
    background-image: url('../img/play_button.png');
  }

  .pause-button {
    background-image: url('../img/pause_button.png');
  }

  .play-button, .pause-button, .button-placeholder {
    cursor: pointer;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
  }

  .current-time {
    display: inline-block;
    margin-left: 30px;
    font-size: 30px;
    letter-spacing: 5px;
    vertical-align: middle;
    width: 90px;
  }
}

.timeline {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: 1360px;
  height: 24.72px;
  background: url('../img/timeline_background.png') no-repeat;
  background-size: 100% 100%;
  cursor: w-resize;

  .progress {
    position: relative;
    height: 100%;
    background: url('../img/timeline_progress.png') no-repeat;
    background-size: auto 100%;
    overflow: visible;

    .marker {
      width: 40px;
      height: 40px;
      background: url('../img/timeline_marker.png') no-repeat;
      background-size: 100% 100%;
      position: absolute;
      right: -22px;
      top: -8px;
    }

    pointer-events: none;
  }
}

.timeline.loading {
  background: url('../img/loading_background.png') no-repeat;
  .progress {
    background: url('../img/timeline_background.png') no-repeat;
    background-size: auto 100%;
  }
}

#curtain {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: url('../img/curtain.png') no-repeat;
  background-size: 100% 100%;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}