@import 'vendor/bootstrap.min';
@import 'vendor/fonts1';
@import 'vendor/fonts2';
@import 'vendor/animate';
@import 'instruments';

body {
  background: limegreen;
}

.instrument {
  transform: scale(0.5, 0.5);
  display: inline-block;
}